.pad-children > * {
  padding-bottom: 15px;
}
.cs-button {
  color: white;
  background-color: rgb(255, 56, 92);
  &:hover, &:active, &:focus {
    color: white;
    background-color: rgb(232, 65, 95);
  }
}
.cs-heading {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2;
}
.cs-grayed-out {
  color: #717171;
  font-size: 0.8em;
}